@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Poppins:wght@600;700&display=swap');

@import "tailwindcss";




@theme {
  --font-title: "Poppins", "sans-serif";
  --font-normal: "Inter", "sans-serif";
  --breakpoint-3xl: 1920px;
  --color-primary: #0077b6;
  --color-secondary: #00b4d8;
  --color-deepBlack: #121212;
  --color-normalText: #e0e0e0;
  --shadow-primary: 0 4px 12px rgba(0, 119, 182, 0.5);
  --shadow-deepShadow: 0 4px 12px  rgba(0, 0, 0, 0.8);
  --shadow-lift: 0 4px 12px  rgba(255, 255, 255, 0.1);

  /* ... */
}


@layer base {
  img{
    @apply text-white
  }
}


@layer utilities {
  .section__title {
    @apply text-3xl font-bold text-primary;
  }
}



@layer components {
  /* ================================= Header Area ================================== */
  .header {
    @apply bg-deepBlack py-4 text-white shadow-lift fixed top-0 left-0 right-0 z-50;
  }
  .nav {
    @apply flex justify-between items-center gap-4;
  }

  .nav__menu {
    @apply flex justify-between items-center gap-20;
  }
  .nav__logo {
    @apply flex items-center gap-2;
  }
  .nav__logo img {
    @apply w-12 h-12;
  }
  
  .nav__logo h3 {
    @apply text-3xl font-bold;
  }

  .nav__list {
    @apply flex items-center gap-6;
  }

  .nav__list .nav__item {
    @apply text-xl font-medium;
  }

  .header__search {
    @apply  px-6 py-2 flex items-center rounded-md text-white bg-transparent border-2 border-gray-50;
  }

  .header__search input {
    @apply w-full focus:outline-none;
  }



  /* ================================= Header Area ================================== */



  /* ================================= Hero Component ================================== */

  .hero__img {
    @apply w-full h-96 rounded-xl shadow-lg transition-transform transform;
  }

  .hero__overlay {
    @apply absolute top-0 left-0 right-0 bottom-0 bg-black/30
  }

  .hero__content {
    @apply absolute bottom-10 left-0 w-full h-16 px-4 py-2;
  }

  .hero__title {
    @apply text-white font-bold text-xl z-50 absolute top-0 left-0 right-0 px-4 truncate max-w-full
  }

  .hero__date {
    @apply text-base text-white mt-10 z-50;
  }

  .hero__tag {
    @apply absolute bottom-0 right-0 bg-primary z-50 px-4 py-1;
  }


  .hero__tag-title {
    @apply text-xl font-bold text-white;
  }


  .hero__custom-pagination {
    @apply flex justify-center mt-4 space-x-2;
  }

  .hero__custom-pagination-item {
    @apply h-3 w-3 rounded-full transition-all;
  }





  /* =========================== Featured Component ====================================== */


  .featured__navigation {
    @apply flex items-center gap-2 text-sm text-white;
  }

  .custom-prev {
    @apply p-1 rounded-full bg-primary flex justify-center items-center transition-colors duration-500 hover:bg-primary/80 hover:duration-500;
  }

  .custom-next {
    @apply p-1 rounded-full bg-primary flex justify-center items-center transition-colors duration-500 hover:bg-primary/80 hover:duration-500;
  }


  .featured__img {
    @apply w-full h-64 object-cover
  }

  .featured__overlay {
    @apply absolute top-0 left-0 right-0 bottom-0 bg-black opacity-20 text-white flex justify-center items-center 
  }

  .featured__title {
    @apply text-lg font-semibold font-title text-white mt-5 truncate max-w-full
  }

  .featured__rating {
    @apply absolute bottom-20 right-0  px-3 py-1
  }

  .featured__rating p {
    @apply text-base font-bold
  }


}


/* ========================== Latest Movies =============================== */
.latest__movies-container {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6;
}

.latest__movie-content {
  @apply text-white px-4 py-2
}

.latest__movie-content h3 {
  @apply text-base text-white truncate max-w-full
}

.latest__rating {
  @apply absolute bottom-14 right-0  px-3 py-1 bg-gradient-to-r from-primary to-secondary
}

.latest__rating p {
  @apply text-white flex items-center gap-2
}

/* ================================ Sidebar ================================= */


/* ===================== Category ====================== */
.category__heading, .upcoming__heading {
  @apply text-2xl font-medium text-white mb-10
}

.category__list {
  @apply flex flex-col gap-3 
}

.category__item {
  @apply text-lg font-medium text-normalText transition-colors duration-300 hover:text-primary hover:underline hover:duration-300
}


/* =================== Upcoming Movies ==================== */

.upcoming__container {
  @apply flex flex-col gap-5
}

.upcoming__movie {
  @apply flex items-center gap-3
}


/* ===================== Search Container ========================= */

.search__container {
  @apply flex flex-col gap-12 sm:gap-5
}

.search__movie {
  @apply flex flex-col sm:flex-row sm:items-center gap-5 sm:gap-3
}